*{
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%
}
.img img{
    margin-right: 50px;
    width: 100%;
}

.grand-total{
    margin-top: 50px;
    border-top: 1px dashed rgb(99, 98, 98);
    text-align: center;
}

.list{
     text-align: end;
}